<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mapeador Argentina</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='js/geostats.css') }}" type="text/css" />


  <style>
    #color-scheme-preview [class^="border"] {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin: .15rem;
    }
    #output {
        display: grid;
        height: 100%;
    }
    #output-img {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
    .bd-example-modal-lg .modal-dialog{
      display: table;
      position: relative;
      margin: 0 auto;
      top: calc(50% - 24px);
    }
    
    .bd-example-modal-lg .modal-dialog .modal-content{
      background-color: transparent;
      border: none;
    }

    #output-link {
      width: 150px !important;
    }

  </style>
</head>
<body>
  <main role="main" class="container">

    <div class="starter-template">
      <h1>Mapeador por provincias</h1>
      <p class="lead">Arma un mapa de Argentina en base a un archivo que le subas.</p>
      <h5>Instrucciones</h5>
      <ul>
        <li>Subir un archivo excel o csv, una columna tiene que ser la provincia con el ID de INDEC y otra la variable a mapear</li>
        <li>Elgir que columna es la provincia y cual es la variable a mapear</li>
        <li>Elegir la paleta de colores, hay que pasar una lista separada por comas, lo ideal es usar <a href="https://colorbrewer2.org/#type=sequential&scheme=BuGn&n=3" alt="Color brewer">ColorBrewer 2.0</a></li>
        <li>Elegir cada qué valores querés hacer la división</li>
        <li>Elegir si querés que muestre la tabla de datos y las leyendas</li>
        <li>Darle al botón generar</li>
      </ul>
    </div>
    <form id="form">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="file" accept=".xls, .xlsx, .csv">
        <label class="custom-file-label" for="customFile">Subir archivo</label>
      </div>
      <div class="custom-file">
        <label class="label" for="select-headers"></label>
      </div>
      <!-- excel sheets -->
      <div class="form-group">
        <label for="sheet-data">Elegí la hoja del excel a usar</label>
        <select id="sheet-data">
          <option>Elegí que hoja del excel usar</option>
        </select>
      </div>

      <!-- preview -->
      <div class="form-group">
        <label for="preview-data">Preview de datos cargados</label>
        <div id="preview-data"></div>
      </div>

      <!-- selects -->
      <div class="form-group">
        <label for="select-headers-provincia">¿Qué columna es provincia?</label>
        <select id="select-headers-provincia" class="select-headers"></select>
      </div>
      <div class="form-group">
        <label for="select-headers-data">¿Qué columna es la data?</label>
        <select id="select-headers-data" class="select-headers"></select>
      </div>
      <!-- data info -->
      <div class="form-group">
        <div id="data-info"></div>
        <div class="form-group" id="hidden-form" style="visibility:hidden;">
          <label for="intervalos">Intervalos</label>
          <input type="number" id="intervalos" value="3" max="9">
          <label for="classification">Clasificación</label>
          <select id="classification">
            <option value="0">Elegí clasificación</option>
            <option value="1">Intervalos iguales</option>
            <option value="2">Desviación standard</option>
            <option value="3">Progresión aritméica</option>
            <option value="4">Progresión geométrica</option>
            <option value="5">Cuantiles</option>
            <option value="6">Clasificación de Jenks</option>
          </select>
        </div>
      </div>
      <!-- colores y valores -->
      <div class="form-group">
        <!-- <div id="val-buttons" class="my-2">
          <a href="" class="btn btn-danger" id="less-vals">
            <i class="bi bi-dash-circle-fill"></i>
          </a>
          <a href="" class="btn btn-success" id="more-vals">
            <i class="bi bi-plus-circle-fill"></i>
          </a>
        </div> -->
        <div id="colors">
        </div>
      </div>
      <!-- title -->
      <div class="form-group">
        <label for="title">Título del gráfico</label>
        <input id="title" value="">
      </div>
      <!-- misc -->
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="datatable">
          <label class="form-check-label" for="datatable">
            Incluir tabla de datos
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="color-legend">
          <label class="form-check-label" for="color-legend">
            Incluir leyenda de colores
          </label>
        </div>
      </div>
      <button id="submit-btn" type="submit" class="btn btn-primary">Generar</button>
    </form>
    <div id="output" class="mt-2">
      <a style="visibility:hidden;" download="mapa.png" href="" id="output-link" class="btn btn-success btn-block">Descargar imagen</a>
      <img style="visibility:hidden;" id="output-img" src="a" alt="Mapa">

    </div>
  </main><!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  
  <!-- additional libraries  -->
  <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/geostats.min.js') }}"></script>

  <!-- custom js -->
  <script src="{{ url_for('static', filename='js/loadExcel.js') }}"></script>

</body>

</html>